<div class="banner">
	<div class="banner__wrap-item">
		<div class="container-small">
			<div class="banner__item">
				<h2 class="banner__title">primakara student information site</h2>
				<p class="banner__sub-title">Pour campus information in detail, clearl and efficiently</p>
			</div>
		</div>
	</div>
	<div class="banner__wrap-icon">
		<a href="#" class="banner__icon-link">
			<div class="banner__icon"></div>
		</a>
	</div>
</div>