<section class="headline">
  <div class="container-large">
    <div class="headline__list">
      <span class="headline__item">
        <a href="#" class="headline__item-gradient"></a>
        <a href="#" class="headline__title">primakara gelar startup expo besar di tahun 1862 sebelum masehi</a>
        <a href="#" class="headline__badge">kegiatan</a>
      </span>
      <span class="headline__item">
        <a href="#" class="headline__item-gradient"></a>
        <a href="#" class="headline__title">yuk simak informasi berguna cara membuat website company profile ala porn hub</a>
        <a href="#" class="headline__badge">website</a>
      </span>
      <span class="headline__item">
        <a href="#" class="headline__item-gradient"></a>
        <a href="#" class="headline__title">memori ssd untuk programmer ? apakah membantu mempercepat project agar cepat selesai ?</a>
        <a href="#" class="headline__badge">hard ware</a>
      </span>
      <span class="headline__item">
        <a href="#" class="headline__item-gradient"></a>
        <a href="#" class="headline__title">prass, cto laravel.org mengakui framework miliknya tidak berguna</a>
        <a href="#" class="headline__badge">framework</a>
      </span>
      <span class="headline__item">
        <a href="#" class="headline__item-gradient"></a>
        <a href="#" class="headline__title">dr. boyke, 150 orang tiap detiknya mengidap penyakit wibu, karena asupan anime yang berlebih</a>
        <a href="#" class="headline__badge">kesehatan</a>
      </span>
      <span class="headline__item">
        <a href="#" class="headline__item-gradient"></a>
        <a href="#" class="headline__title">yaw, konglomerat asal bali membeli stiker mobil lamborgini gallardo di las vegas</a>
        <a href="#" class="headline__badge">intermezo</a>
      </span>
      <span class="headline__item">
        <a href="#" class="headline__item-gradient"></a>
        <a href="#" class="headline__title">8 cara membuat website dengan mudah tanpa framework</a>
        <a href="#" class="headline__badge">framework</a>
      </span>
    </div>
  </div>
</section>
