<div class="subscribe">
	<div class="container-small">
		<div class="subscribe__item">
			<h2 class="subscribe__title">Dapatkan informasi kegiatan kampus, tips serta trik seputar dunia teknologi dan informasi lainnya</h2>
			<div class="subscribe__button">
				<a href="#" class="subscribe__button-link">subscribe</a>
			</div>
		</div>
	</div>
</div>