<div class="ukm">
	<div class="container-medium">
		<h2 class="ukm__title">unit kegiatan mahasiswa stmik primakara</h2>
		<div class="ukm__item-wrap">

			<div class="ukm__item">
				<a href="#" class="ukm__link">
					<div class="ukm__banner-img"></div>
					<div class="ukm__logo-ukm"></div>
					<div class="ukm__content">
						<h3 class="ukm__content-title">primakara developers</h3>
					</div>
				</a>
			</div>

			<div class="ukm__item">
				<a href="#" class="ukm__link">
					<div class="ukm__banner-img"></div>
					<div class="ukm__logo-ukm"></div>
					<div class="ukm__content">
						<h3 class="ukm__content-title">primakara developers</h3>
					</div>
				</a>
			</div>

			<div class="ukm__item">
				<a href="#" class="ukm__link">
					<div class="ukm__banner-img"></div>
					<div class="ukm__logo-ukm"></div>
					<div class="ukm__content">
						<h3 class="ukm__content-title">primakara developers</h3>
					</div>
				</a>
			</div>

			<div class="ukm__item">
				<a href="#" class="ukm__link">
					<div class="ukm__banner-img"></div>
					<div class="ukm__logo-ukm"></div>
					<div class="ukm__content">
						<h3 class="ukm__content-title">primakara developers</h3>
					</div>
				</a>
			</div>

			<div class="ukm__item">
				<a href="#" class="ukm__link">
					<div class="ukm__banner-img"></div>
					<div class="ukm__logo-ukm"></div>
					<div class="ukm__content">
						<h3 class="ukm__content-title">primakara developers</h3>
					</div>
				</a>
			</div>

			<div class="ukm__item">
				<a href="#" class="ukm__link">
					<div class="ukm__banner-img"></div>
					<div class="ukm__logo-ukm"></div>
					<div class="ukm__content">
						<h3 class="ukm__content-title">primakara developers</h3>
					</div>
				</a>
			</div>

		</div>
	</div>
</div>