<div class="ukm">
	<div class="ukm__title-wrap">
		<h2 class="ukm__title">unit kegiatan mahasiswa stmik primakara</h2>
	</div>
	<div class="medium-container">
		<div class="ukm__item-wrap">

			<div class="ukm__item">
				<div class="ukm__banner-img"></div>
				<div class="ukm__logo-primdev"></div>
				<div class="ukm__content">
					<h4 class="ukm__content-title">primakara developers</h4>
				</div>
			</div>

			<div class="ukm__item">
				<div class="ukm__banner-img"></div>
				<div class="ukm__logo-primdev"></div>
				<div class="ukm__content">
					<h4 class="ukm__content-title">primakara developers</h4>
				</div>
			</div>

			<div class="ukm__item">
				<div class="ukm__banner-img"></div>
				<div class="ukm__logo-primdev"></div>
				<div class="ukm__content">
					<h4 class="ukm__content-title">primakara developers</h4>
				</div>
			</div>

			<div class="ukm__item">
				<div class="ukm__banner-img"></div>
				<div class="ukm__logo-primdev"></div>
				<div class="ukm__content">
					<h4 class="ukm__content-title">primakara developers</h4>
				</div>
			</div>

			<div class="ukm__item">
				<div class="ukm__banner-img"></div>
				<div class="ukm__logo-primdev"></div>
				<div class="ukm__content">
					<h4 class="ukm__content-title">primakara developers</h4>
				</div>
			</div>

			<div class="ukm__item">
				<div class="ukm__banner-img"></div>
				<div class="ukm__logo-primdev"></div>
				<div class="ukm__content">
					<h4 class="ukm__content-title">primakara developers</h4>
				</div>
			</div>

		</div>
	</div>
</div>