<section class="breadcrumbs">
  <div class="container-large">
    <ul class="breadcrumbs__list">
      <li class="breadcrumbs__breadcrumb-item">
        <div class="breadcrumbs__breadcrumb-item-container">
            <a class="breadcrumbs__breadcrumb-link" href="#">Home</a>
            <span class="breadcrumbs__breadcrumb-item-separator"></span>
        </div>
      </li>
      <li class="breadcrumbs__breadcrumb-item">
        <div class="breadcrumbs__breadcrumb-item-container">
            <a class="breadcrumbs__breadcrumb-link" href="#">Intermezzo</a>
            <span class="breadcrumbs__breadcrumb-item-separator"></span>
        </div>
      </li>
      <li class="breadcrumbs__breadcrumb-item">
        <div class="breadcrumbs__breadcrumb-item-container">
            <a class="breadcrumbs__breadcrumb-link" href="#">Prass, CTO Laravel.org Mengakui Framework Miliknya Tidak Berguna</a>
        </div>
      </li>
    </ul>
  </div>
</section>
