<div class="article-list">
	<div class="container-large">
		<h2 class="article-list__title">intermezzo</h2>
			
		<div href="#" class="article-list__item">
			<div class="article-list__content-wrapper">
				<a href="#" class="article-list__img-link">
					<div class="article-list__banner-img"></div>
				</a>
				<div class="article-list__txt-wrapper">
					<a href="#" class="article-list__description-wrapper">
						<h3 class="article-list__item-title">UKM Dance Primakara Adakan Lari Marathon Keliling Dunia</h3>
						<p class="article-list__description">Happy Sunday from Software Expand In this week's edtion of Feedback Loop, we talk about the future of Windows Phone, Whether they ...</p>
						<p class="article-list__author"> <span class="article-list__author-name">Susano'o</span> - 29 Ferbuari 2018</p>
					</a>
					<a href="#" class="article-list__topics">Intermezzo</a>
				</div>
			</div>
		</div>

		<div href="#" class="article-list__item">
			<div class="article-list__content-wrapper">
				<a href="#" class="article-list__img-link">
					<div class="article-list__banner-img"></div>
				</a>
				<div class="article-list__txt-wrapper">
					<a href="#" class="article-list__description-wrapper">
						<h3 class="article-list__item-title">UKM Dance Primakara Adakan Lari Marathon Keliling Dunia</h3>
						<p class="article-list__description">Happy Sunday from Software Expand In this week's edtion of Feedback Loop, we talk about the future of Windows Phone, Whether they ...</p>
						<p class="article-list__author"> <span class="article-list__author-name">Susano'o</span> - 29 Ferbuari 2018</p>
					</a>
					<a href="#" class="article-list__topics">Intermezzo</a>
				</div>
			</div>
		</div>

		<div href="#" class="article-list__item">
			<div class="article-list__content-wrapper">
				<a href="#" class="article-list__img-link">
					<div class="article-list__banner-img"></div>
				</a>
				<div class="article-list__txt-wrapper">
					<a href="#" class="article-list__description-wrapper">
						<h3 class="article-list__item-title">UKM Dance Primakara Adakan Lari Marathon Keliling Dunia</h3>
						<p class="article-list__description">Happy Sunday from Software Expand In this week's edtion of Feedback Loop, we talk about the future of Windows Phone, Whether they ...</p>
						<p class="article-list__author"> <span class="article-list__author-name">Susano'o</span> - 29 Ferbuari 2018</p>
					</a>
					<a href="#" class="article-list__topics">Intermezzo</a>
				</div>
			</div>
		</div>

		<div href="#" class="article-list__item">
			<div class="article-list__content-wrapper">
				<a href="#" class="article-list__img-link">
					<div class="article-list__banner-img"></div>
				</a>
				<div class="article-list__txt-wrapper">
					<a href="#" class="article-list__description-wrapper">
						<h3 class="article-list__item-title">UKM Dance Primakara Adakan Lari Marathon Keliling Dunia</h3>
						<p class="article-list__description">Happy Sunday from Software Expand In this week's edtion of Feedback Loop, we talk about the future of Windows Phone, Whether they ...</p>
						<p class="article-list__author"> <span class="article-list__author-name">Susano'o</span> - 29 Ferbuari 2018</p>
					</a>
					<a href="#" class="article-list__topics">Intermezzo</a>
				</div>
			</div>
		</div>

		<div href="#" class="article-list__item">
			<div class="article-list__content-wrapper">
				<a href="#" class="article-list__img-link">
					<div class="article-list__banner-img"></div>
				</a>
				<div class="article-list__txt-wrapper">
					<a href="#" class="article-list__description-wrapper">
						<h3 class="article-list__item-title">UKM Dance Primakara Adakan Lari Marathon Keliling Dunia</h3>
						<p class="article-list__description">Happy Sunday from Software Expand In this week's edtion of Feedback Loop, we talk about the future of Windows Phone, Whether they ...</p>
						<p class="article-list__author"> <span class="article-list__author-name">Susano'o</span> - 29 Ferbuari 2018</p>
					</a>
					<a href="#" class="article-list__topics">Intermezzo</a>
				</div>
			</div>
		</div>

		<div href="#" class="article-list__item">
			<div class="article-list__content-wrapper">
				<a href="#" class="article-list__img-link">
					<div class="article-list__banner-img"></div>
				</a>
				<div class="article-list__txt-wrapper">
					<a href="#" class="article-list__description-wrapper">
						<h3 class="article-list__item-title">UKM Dance Primakara Adakan Lari Marathon Keliling Dunia</h3>
						<p class="article-list__description">Happy Sunday from Software Expand In this week's edtion of Feedback Loop, we talk about the future of Windows Phone, Whether they ...</p>
						<p class="article-list__author"> <span class="article-list__author-name">Susano'o</span> - 29 Ferbuari 2018</p>
					</a>
					<a href="#" class="article-list__topics">Intermezzo</a>
				</div>
			</div>
		</div>

	</div>
</div>