<section class="article-list-category">
  <div class="category">
    <div class="container-large category__container">
      <div class="category__category-container">
        <ul class="category__list">
          <li class="category__item"><a href="#">Information</a></li>
          <li class="category__item"><a href="#">Intermezzo</a></li>
          <li class="category__item"><a href="#">Tips & Trick</a></li>
          <li class="category__item"><a href="#">Hardware</a></li>
          <li class="category__item"><a href="#">Software</a></li>
          <li class="category__item"><a href="#">Tutorials</a></li>
        </ul>
      </div>

      <div class="category__collapse-button-container">
        <a href="javascript:void(0)" class="category__collapse-button">
          <div class="category__collapse-icon">
            <div class="category__collapse-icon--first"></div>
            <div class="category__collapse-icon--second"></div>
            <div class="category__collapse-icon--third"></div>
          </div>
          <span class="category__collapse-button-text">Pilih Kategori</span>
        </a>
      </div>

      <div class="category__search">
        <form action="" class="category__search-container">
          <input type="text" name="search" placeholder="Search" class="category__search-input">
        </form>
      </div>
    </div>
  </div>
</section>
