<div class="pagination">
	<div class="container-large">
		<ol class="pagination__list-wrapper">

			<li class="pagination__list-page">
				<a href="#" class="pagination__list-link pagination--first-page">1</a>
			</li>
			<li class="pagination__list-page">
				<a href="#" class="pagination__list-link pagination--list-active">2</a>
			</li>
			<li class="pagination__list-page">
				<a href="#" class="pagination__list-link">3</a>
			</li>
			<li class="pagination__list-page">
				<a href="#" class="pagination__list-link">4</a>
			</li>
			<li class="pagination__list-page">
				<a href="#" class="pagination__list-link">5</a>
			</li>
			<li class="pagination__list-page">
				<a href="#" class="pagination__list-link">6</a>
			</li>
			<li class="pagination__list-hidden">
			<a href="#" class="pagination__hidden-link">...</a>
			</li>

		</ol>
	</div>
</div>