<div class="pagination">
	<div class="container-large">
		<div class="pagination__wrapper clearfix">
			<a href="#" class="pagination__list-page">1</a>
			<a href="#" class="pagination__list-page pagination--list-active">2</a>
			<a href="#" class="pagination__list-page">3</a>
			<a href="#" class="pagination__list-page">4</a>
			<a href="#" class="pagination__list-page">5</a>
			<a href="#" class="pagination__list-page">6</a>
			<a href="#" class="pagination__list-hidden">...</a>
		</div>
	</div>
</div>