<header class="header <%= @header_extra_class %>">
  <div class="container-large header__container">
    <%= link_to '/', class: 'header__logo' do %>
      <%= image_tag 'primdev-logo.svg' %>
    <% end %>
    <%= render 'client/partials/menu' %>
    <a href="javascript:void(0)" class="header__open-btn">
      <div class="header__open-btn--first"></div>
      <div class="header__open-btn--second"></div>
      <div class="header__open-btn--third"></div>
    </a>
  </div>
</header>
