<div class="menu-mobile">
  <a href="javascript:void(0)" class="header__close-btn">
    <div class="header__close-btn--first"></div>
    <div class="header__close-btn--second"></div>
  </a>
  <%= render 'client/partials/menu' %>
</div>
