<nav class="menu">
  <%= link_to 'Home', '/', class: "menu__item" %>
  <%= link_to 'Story', '#', class: "menu__item" %>
  <%= link_to 'About', '#', class: "menu__item" %>
  <%= link_to 'Event', '#', class: "menu__item menu__item--with-background" %>
</nav>
