.banner{
	background-image: image-url("bege.jpeg");
	height: 605px;
	opacity: .9;

	.banner__wrap-item{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 90%;

		.banner__item{
			display: flex;
			flex-direction: column;
			text-align: center;

			.banner__title{
				text-transform: capitalize;
				color: $postUnderline;
				font-size: 42px;
			}

			.banner__description{
				color: $postUnderline;
				font-size: 22px;
				margin-top: 0;
			}
		}
	}

	.banner__wrap-icon{
		display: flex;
		justify-content: center;
		
		.banner__icon{
			background-image: image-url("icons/downwards-pointer.svg");
			width: 50px;
			height: 50px;
			background-size: cover;
		}
	}
}
