.banner{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), image-url("bege.jpeg");
	height: calc(100vh - 65px);
	background-size: cover;
	background-attachment: fixed;
 	 background-position: center;
  
  &__container {
    height: 100%;
  }

	&__wrap-item{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
	}

	&__item{
		text-align: center;
	}

	&__title{
		text-transform: capitalize;
		color: #fff;
		font-size: 36px;
		margin-top: 0;
		margin-bottom: 25px;

		@media only screen and (max-width: 480px){
			font-size: 28px;
		}
	}

	&__sub-title{
		color: #fff;
		font-size: 20px;
		margin-top: 0;
		margin-bottom: 0;
		line-height: 1.5;

		@media only screen and (max-width: 480px){
			font-size: 14px;
		}
	}
		
	&__wrap-icon{
		position: absolute;
	    left: 50%;
	    transform: translateX(-50%);
	    bottom: 18px;
	}
		
	&__icon{
		background-image: image-url("icons/downwards-pointer.svg");
		width: 50px;
		height: 50px;
		background-size: cover;
		transform: scale(0.9, 0.5);
		cursor: pointer;
	}
}
