.ukm{
	margin-top: 33px;

	&__title{
		font-size: 24px;
		text-transform: uppercase;
		width: 400px;
		color: #484848;
		line-height: 1.8;
		margin-bottom: 0;
		text-align: center;
	   	margin: auto;

	   	@media only screen and (max-width: 480px){
	   		width: 100%;
	   	}

	   	@media only screen and (max-width: 414px){
	   		font-size: 20px;
	   	}

	   	@media only screen and (max-width: 360px){
	   		font-size: 18px;
	   	}

	   	@media only screen and (max-width: 320px){
	   		font-size: 16px;
	   	}
	}

	&__item-wrap{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 55px;

		@media only screen and (max-width: 1060px){
			margin-right: 16px;
			margin-left: 16px;
		}

		@media only screen and (max-width: 767px){
			margin: 55px 0;
		}

	}

	&__item{
		width: 29.9%;
		position: relative;
		margin-top: 89px;

		&:nth-child(-n+3){
			margin-top: 0;
		}

		&:hover .ukm__banner-img{
			opacity: .1;
		}

		&:hover .ukm__link .ukm__logo-ukm{
			filter: brightness(1) invert(0);
			transform: translate(-50%, -50%) scale(1.3);
		}

		&:hover .ukm__content{
			background-color: #0080ff;
		}

		&:hover .ukm__link .ukm__content .ukm__content-title{
			color: #fafafa;
		}

		@media only screen and (max-width: 1060px){
			width: 48%;

			&:nth-child(3){
				margin-top: 89px;
			}
		}

		@media only screen and (max-width: 640px){
			margin-top: 50px;

			&:nth-child(3){
				margin-top: 50px;
			}
		}

		@media only screen and (max-width: 560px){
			width: 100%;

			&:nth-child(2){
				margin-top: 50px;
			}
		}

	}

	&__link{
		text-decoration: none;
		display: inline-block;
		width: 100%;
		box-shadow: 0px 0px 7px 1px rgba(209, 209, 209, 1);
	}

	&__banner-img{
		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), image-url("workshop-photos.jpg");
		width: 100%;
		height: 299px;
		background-size: cover;
		transition: .3s ease-in-out;

		@media only screen and (max-width: 640px){
			height: 259px;
		}

		@media only screen and (max-width: 560px){
			height: 349px;
		}

		@media only screen and (max-width: 375px){
			height: 299px;
		}

		@media only screen and (max-width: 320px){
			height: 259px;
		}
	}

	&__logo-ukm{
		background-image: image-url("logo-gradient.png");
		height: 80px;
		width: 185px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-size: contain;
		background-repeat: no-repeat;
		filter: brightness(0) invert(1);
		transition: all .3s ease-in-out;
	}

	&__content{
		padding: 5px 0;
		text-align: center;
		border-top: 0;
		transition: .3s ease-in-out;
	}

	&__content-title{
		font-size: 16px;
		text-transform: uppercase;
		transition: .3s ease-in-out;
		color: #696969;
	}
}