.ukm{
	margin: 30px 0;

	.ukm__title-wrap{
		text-align: center;
		display: flex;
		justify-content: center;
		margin-bottom: 60px;

		.ukm__title{
			font-size: 28px;
			text-transform: uppercase;
			width: 450px;
			line-height: 1.8;
		}
	}

	.medium-container{
		width: 1055px;
		margin: auto;

		.ukm__item-wrap{
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;

			.ukm__item{
				width: 305px;
				box-sizing: border-box;

				&:hover .ukm__banner-img{
					opacity: .1;
				}

				&:hover .ukm__logo-primdev{
					filter: brightness(1) invert(0);
				}

				&:hover .ukm__content{
					background-color: #0086ad;
				}

				&:hover .ukm__content .ukm__content-title{
					color: $postUnderline;
				}

				.ukm__banner-img{
					background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), image-url("workshop-photos.jpg");
					width: 100%;
					height: 299px;
					background-size: cover;
					transition: .5s opacity;
				}

				.ukm__logo-primdev{
					background-image: image-url("logo-gradient.png");
					height: 80px;
					background-repeat: no-repeat;
					position: relative;
    				top: -40%;
    				transform: scale(.7);
    				background-size: contain;
    				filter: brightness(0) invert(1);
    				transition: .5s filter;
				}

				.ukm__content{
					padding: 5px 0;
					text-align: center;
					box-shadow: 0 5px 5px #d3d3d3;
					border-top: 0;
					transition: .5s ease;
					position: relative;
					top: -18%;

					.ukm__content-title{
						font-size: 16px;
						text-transform: uppercase;
						transition: .5s ease;
					}
				}
			}
		}
	}
}