<div class="article-list">
	<div class="container-large">
		<h2 class="article-list__title">intermezzo</h2>
			
		<div class="article-list__item">
			<a href="#" class="article-list__item-link">
				<div class="article-list__banner-img"></div>
				<div class="article-list__txt-wrapper">
					<h3 class="article-list__item-title">UKM Dance Primakara Adakan Lari Marathon Keliling Dunia</h3>
					<p class="article-list__description">Happy Sunday from Software Expand In this week's edtion of Feedback Loop, we talk about the future of Windows Phone, Whether they ...</p>
					<p class="article-list__author"> <span class="article-list__author-name">Susano'o</span> - 29 Ferbuari 2018</p>
					<p class="article-list__topics">Intermezzo</p>
				</div>
			</a>
		</div>

		<div class="article-list__item">
			<a href="#" class="article-list__item-link">
				<div class="article-list__banner-img"></div>
				<div class="article-list__txt-wrapper">
					<h3 class="article-list__item-title">UKM Dance Primakara Adakan Lari Marathon Keliling Dunia</h3>
					<p class="article-list__description">Happy Sunday from Software Expand In this week's edtion of Feedback Loop, we talk about the future of Windows Phone, Whether they ...</p>
					<p class="article-list__author"> <span class="article-list__author-name">Susano'o</span> - 29 Ferbuari 2018</p>
					<p class="article-list__topics">Intermezzo</p>
				</div>
			</a>
		</div>

		<div class="article-list__item">
			<a href="#" class="article-list__item-link">
				<div class="article-list__banner-img"></div>
				<div class="article-list__txt-wrapper">
					<h3 class="article-list__item-title">UKM Dance Primakara Adakan Lari Marathon Keliling Dunia</h3>
					<p class="article-list__description">Happy Sunday from Software Expand In this week's edtion of Feedback Loop, we talk about the future of Windows Phone, Whether they ...</p>
					<p class="article-list__author"> <span class="article-list__author-name">Susano'o</span> - 29 Ferbuari 2018</p>
					<p class="article-list__topics">Intermezzo</p>
				</div>
			</a>
		</div>

		<div class="article-list__item">
			<a href="#" class="article-list__item-link">
				<div class="article-list__banner-img"></div>
				<div class="article-list__txt-wrapper">
					<h3 class="article-list__item-title">UKM Dance Primakara Adakan Lari Marathon Keliling Dunia</h3>
					<p class="article-list__description">Happy Sunday from Software Expand In this week's edtion of Feedback Loop, we talk about the future of Windows Phone, Whether they ...</p>
					<p class="article-list__author"> <span class="article-list__author-name">Susano'o</span> - 29 Ferbuari 2018</p>
					<p class="article-list__topics">Intermezzo</p>
				</div>
			</a>
		</div>

		<div class="article-list__item">
			<a href="#" class="article-list__item-link">
				<div class="article-list__banner-img"></div>
				<div class="article-list__txt-wrapper">
					<h3 class="article-list__item-title">UKM Dance Primakara Adakan Lari Marathon Keliling Dunia</h3>
					<p class="article-list__description">Happy Sunday from Software Expand In this week's edtion of Feedback Loop, we talk about the future of Windows Phone, Whether they ...</p>
					<p class="article-list__author"> <span class="article-list__author-name">Susano'o</span> - 29 Ferbuari 2018</p>
					<p class="article-list__topics">Intermezzo</p>
				</div>
			</a>
		</div>

	</div>
</div>