<div class="detail">
	<div class="container-large">
		<div class="detail__wrapper">
			<h2 class="detail__title">Prass, CTO Laravel.org Mengakui Framework Miliknya Tidak Berguna</h2>
			<p class="detail__author">
				<span class="detail__author-name">Nama Author</span>
				- 18 Ferbuari 2018
			</p>
			<div class="detail__img"></div>
			<p class="detail__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<p class="detail__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia veritatis cum deleniti aspernatur vero, ipsa tenetur fuga odio accusantium in error sunt dolores, ratione, nesciunt nihil porro voluptatum quibusdam quo!</p>
		</div>
	</div>
</div>