<div class="related-articles">
	<div class="container-large related-articles__item-wrapper">

		<div class="related-articles__item">
			<div class="related-articles__banner-img"></div>
			<h3 class="related-articles__title">UKM Dance Primakara Adakan Lari Marathon Keliling Dunia</h3>
			<p class="related-articles__author"> <span class="related-articles__author-name">Susano'o Naruto</span> - 29 Ferbuari 2018</p>
		</div>

		<div class="related-articles__item">
			<div class="related-articles__banner-img"></div>
			<h3 class="related-articles__title">UKM Dance Primakara Adakan Lari Marathon Keliling Dunia</h3>
			<p class="related-articles__author"> <span class="related-articles__author-name">Susano'o Naruto</span> - 29 Ferbuari 2018</p>
		</div>

		<div class="related-articles__item">
			<div class="related-articles__banner-img"></div>
			<h3 class="related-articles__title">UKM Dance Primakara Adakan Lari Marathon Keliling Dunia</h3>
			<p class="related-articles__author"> <span class="related-articles__author-name">Susano'o Naruto</span> - 29 Ferbuari 2018</p>
		</div>

	</div>
</div>