<div class="share">
	<div class="container-large">
		<p class="share__txt">share this post :</p>
		
		<div class="share__sosmed-wrapper">
			<a href="https://www.facebook.com/" class="share__sosmed-link">
				<div class="share__sosmed-icons--facebook"></div>
			</a>
			<a href="https://www.whatsapp.com/" class="share__sosmed-link">
				<div class="share__sosmed-icons--whatsapp"></div>
			</a>
			<a href="https://line.me/en/" class="share__sosmed-link">
				<div class="share__sosmed-icons--line"></div>
			</a>
			<a href="#" class="share__sosmed-link">
				<div class="share__sosmed-icons--copy"></div>
			</a>
		</div>
		<div class="share__subscribe-btn">
			<a href="#" class="share__subscribe-link">subscribe</a>
		</div>

	</div>
</div>