.pagination{
	margin-top: 64px;
	margin-bottom: 82px;

	&__wrapper{
	    position: relative;
    	max-width: 373px;
	    width: 100%;

	    @media only screen and (max-width: 375px){
	    	display: flex;
	    	justify-content: space-between;
	    }

	}

	&__list-page{
		display: inline-block;
		margin-right: 10px;
		text-decoration: none;
		text-align: center;
		color: $colorPrimary;
		font-size: 22px;
		padding: 2px 10px;
		border-radius: 8px;
		width: 33px;
		transition: all .3s ease-in-out;

		&:hover {
			background-color: $colorPrimary;
			color: #fff;
		}
	}

	&--list-active{
		background-color: $colorPrimary;
		color: #fff;
	}

	&__list-hidden{
		display: inline-block;
		text-decoration: none;
		color: $colorPrimary;
		letter-spacing: 2.5px;
		height: 32px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		padding: 2px 7px;
		border-radius: 8px;
		transition: all .3s ease-in-out;

    	&:hover {
			background-color: $colorPrimary;
			color: #fff;
		}

		@media only screen and (max-width: 375px){
			position: relative;
			transform: translateY(-10%);
		}
	}
}