.detail{
	margin-top: 37px;

	&__wrapper{
		width: 70%;
	}

	&__title{
		font-size: 32px;
		line-height: 1.5;
	}

	&__author{
		line-height: .8;
		color: #969696;

		.detail__author-name{
			color: $colorPrimary;
		}
	}

	&__img{
		margin-top: 24px;
		margin-bottom: 34px;
		background-image: image-url("bg.jpg");
		background-size: cover;
		height: 406px;
		background-position: center;
	}

	&__description{
		margin-top: 30px;
		color: #484848;
		line-height: 1.6;
		letter-spacing: .2px;

		.detail__description-important{
			color: $colorPrimary;
		}
	}
}